@model IEnumerable<Broker.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h4>Mortgage Profiles</h4>
<form asp-action="Index" method="get">
    <div>
        <p>
            Find Mortgage:<input type="text" name="searchingString" value="" />
            <input type="submit" value="Search" class="btn btn-primary" />
            <a asp-action="Index">Remove Filter</a>
        </p>
    </div>
</form>
<p>
    <a asp-action="Create">Create New Mortgage</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <label @Html.DisplayNameFor(model => model.ApplicationNumber)>Application Number</label>
            </th>

            <th>
                <label @Html.DisplayNameFor(model => model.BorrowerName)>Borrower Name</label>
            </th>
            <th>
                <label @Html.DisplayNameFor(model => model.Associate)>Associate Name</label>
            </th>
            <th>
                <label @Html.DisplayNameFor(model => model.Term)>Term</label>
            </th>
            <th>
                <label @Html.DisplayNameFor(model => model.MortgageAmount)>Mortgage Amount</label>
            </th>
            <th>
                <label @Html.DisplayNameFor(model => model.CreatedDate)>Date Created</label>
            </th>
            <th>
                <label @Html.DisplayNameFor(model => model.CreatedBy)>Created By</label>
            </th>
            <th>
                <label @Html.DisplayNameFor(model => model.LastUpdateDate)>Last Updated Date</label>
            </th>
            <th>
                <label @Html.DisplayNameFor(model => model.LastUpdatedBy)>Last Updated By</label>
            </th>



        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationNumber)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.BorrowerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Associate.AssociateFirstName)
                @Html.DisplayFor(modelItem => item.Associate.AssociateLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Term)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MortgageAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdatedBy)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a>
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.ProductId">Details</a>
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
            </td>

        </tr>
        }
    </tbody>
</table>
<table class="table">
    
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
           
            
        </tr>
        }
    </tbody>
   
</table>

