@model IEnumerable<Broker.Models.CommissionsPaid>

@{
    ViewData["Title"] = "Index";
}
<div class="row">
    <div class="col-4">
        <h4>Paid Commission Stubs</h4>
    </div>
    <div class="col-4">
        <p>
            <a asp-action="Create">Create a commission Stub</a>
        </p>
    </div>
</div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    <label @Html.DisplayNameFor(model => model.DatePaid)>Date Paid</label>
                </th>
                <th>
                    <label @Html.DisplayNameFor(model => model.CommissionType)>Commission Type</label>
                </th>
                <th>
                    <label @Html.DisplayNameFor(model => model.PaymentType)>Payment Type</label>
                </th>
                <th>
                    <label @Html.DisplayNameFor(model => model.ChequeNumber)>Cheque Number</label>
                </th>
                <th>
                    <label @Html.DisplayNameFor(model => model.CreatedDate)>Created Date</label>
                </th>
                <th>
                    <Label @Html.DisplayNameFor(model => model.CreatedBy)>Created By</Label>
                </th>
                <th>
                    <label @Html.DisplayNameFor(model => model.LastUpdateDate)>Last Update Date</label>
                </th>
                <th>
                    <label @Html.DisplayNameFor(model => model.LastUpdatedBy)>Last Updated By</label>
                </th> 
                
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DatePaid)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CommissionType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaymentType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ChequeNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedBy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastUpdateDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastUpdatedBy)
                    </td>
                    
                        
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.CommissionsPaidId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.CommissionsPaidId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.CommissionsPaidId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
