@model Broker.ViewModels.AssociateProductViewModel

@{
    ViewData["Title"] = "Details";
}

<h4>Associate Details</h4>

<dl class="row">
    <dt class="col-sm-2">
        <label>ID</label>
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Associates)
    </dd>
</dl>            
<table class="table">
    <thead>
        <tr>
            <th>
                <label>Application Number</label>
            </th>
            <th>
                <label>SplitID</label>
            </th>
            <th>
                <label>Mortgage Amount</label>
            </th>
            <th>
                <label>Total File Commissions</label>
            </th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.AssociateProductViews)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SplitID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MortgageAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalFileCommissions)
            </td>

        </tr>
        }
    </tbody>
    </table>
<div>
    <a asp-action="Index">Back to List</a>
</div>
