@model Broker.Models.Associate

@{
    ViewData["Title"] = "Details";
}

<h4>Associate Details</h4>

<dl class="row">
    <dt class="col-sm-2">
        <label @Html.DisplayNameFor(model => model.AssociateId)>Associate ID</label>
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.AssociateId)
    </dd>
    <dt class="col-sm-2">
        <label @Html.DisplayFor(model=> model.AssociateFirstName)>First Name</label>
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.AssociateFirstName)
    </dd>
    <dt class="col-sm-2">
        <label @Html.DisplayNameFor(model=> model.AssociateLastName)>Last Name</label>
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.AssociateLastName)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Company)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Company)
    </dd>

    <dt class="col-sm-2">
        <label @Html.DisplayNameFor(model => model.SplitId)>Split Percentage</label>
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.SplitId)
    </dd>
</dl>
    <hr />
    <div>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        <label>Mortgage Application Number</label>
                    </th>
                    <th>
                        <label>Mortgage Amount</label>
                    </th>
                    <th>
                        <label>Total Commission</label>
                    </th>
                    <th>
                        <label>Commission paid</label>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>

        </table>
       
        <a asp-action="Index">Back to List</a>
    </div>
