@model  IEnumerable<Broker.Models.Associate>
<div class="row">
    <div class="col-4">
        <h4>Associate Profiles</h4>
    </div>
    <div class="col-4">
        <p>
            <a asp-action="Create">Create New Associate</a>
        </p>
    </div>
</div>

<form asp-action="Index" method="get">
    <div>
        <p>
            Find Associate:<input type="text" name="searchingString" value="" />
            <input type="submit" value="Search" class="btn btn-primary" />
            <a asp-action="Index">Remove Filter</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <label>First Name</label>
            </th>
            <th>
                <label>Last Name</label>
            </th>
            <th>
                <label>Company</label>
            </th>
            <th>
                <label>Current Commission Split</label>
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.AssociateFirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AssociateLastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Company)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SplitId)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.AssociateId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.AssociateId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.AssociateId">Delete</a>
                </td>
            </tr>
        }

      </tbody>
 </table>




